/* .swiper-slide {
  width: auto !important;
}

.swiper-slide .active {
  width: auto !important;
}

.swiper {
  overflow: inherit !important;
  position: static !important;
}

.swiper-wrapper {
  overflow: hidden;
  width: fit-content;
} */
