.filter .swiper-slide {
  width: auto !important;
}

.filter .swiper-slide .active {
  width: auto !important;
}

.shop_slider.swiper-slide {
  width: auto I !important;
}

/* .swiper {
  overflow: inherit !important;
  position: static !important;
} */

/* .swiper-wrapper {
  width: 100%;
} */

.mySwiper .swiper-slide {
  width: 289px !important;
  margin-right: 20px !important;
}

.produc_card_slider .swiper-slide {
  width: 65px !important;
}

.react-datepicker-popper {
  z-index: 1000 !important;
  position: fixed;
  top: 0;
}
